html, body {
  height: 100%;
}

body {
  color: #453445;
}

.questions {
  margin: 20px 0;
}

.questions > .question:nth-child(odd),
.questions > .question:nth-child(odd):not(.selected) .question-text textarea {
  background-color: #e6f1f1;
}

.questions > .question.selected {
  background-color: #f4e8eb;
}

.question {
  padding-top: 10px;
}

.question-number {
  color: white;
  background-color: #D9BC8D;
  margin-left: 10px;
  padding: 0 5px;
  border-radius: 10px;
}

.question-text {
  margin-left: 20px;
}

.question-text textarea, .answer-text textarea {
  width: 100%;
  padding-left: 5px;
  outline: none;
  border: 1px solid transparent;
  overflow: hidden;
  text-overflow: ellipsis;
  resize: none;
}

.question-text textarea { 
  margin-top: -2px;
}

.question:not(.selected) .question-text textarea {
  height: auto !important;
}

.question.selected .question-text textarea {
  border-color: #453445;
  background-color: #f4e8eb;
  height: 66px;
  resize: vertical;
}

.question.selected .question-text textarea:focus {
  background-color: white;
}

.text-placeholder {
  height: 0px;
  width: 0px;
  color: #7d717d;
}

.text-placeholder p {
  padding-left: 6px;
  min-width: 200px;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.question-text textarea:invalid:not(:focus),
.answer-text textarea:invalid:not(:focus) {
  background-color: transparent !important;
}

.question.selected .question-text textarea:focus,
.answer-text textarea:focus {
  border-color: #94183B;
}

.question-delete {
  font-size: 20px;
  line-height: 20px;
  margin-top: -10px;
  margin-left: auto;
  padding: 10px;
}

.question-delete:hover, .answer-delete:hover {
  color: #DE4A21;
}

.new-question {
  margin-top: 5px;
  padding: 5px 10px;
  color: white;
  background-color: #046D70;
}

.new-question .icon-wrapper {
  margin-left: 10px;
  font-size: 20px;
}

.new-question:hover, .new-option:hover {
  color: #D9BC8D;
}

.new-question, .new-option {
  cursor: default;
}

.options {
  padding: 0 54px;
}

.options-heading {
  color: #7d717d;
  font-size: 15px;
}

.answers {
  padding-bottom: 10px;
}

.answers > .answer:nth-child(odd) {
  background-color: white;
}

.answers > .answer:nth-child(even) .answer-text textarea {
  background-color: #f4e8eb;
}

.answer {
  padding-left: 10px;
}

.answer-text textarea {
  margin-top: 5px;
  min-width: 200px;
}

.answer-text textarea:focus {
  background-color: white !important;
  resize: vertical;
}

.answer-text .text-placeholder p {
  margin: 0;
  padding-top: 7px;
}

.option-types {
  margin-left: 20px;
  padding-top: 7px;
}

.option-type, .question-control {
  border: 1px solid transparent;
  margin: 0 5px;
  padding: 0 5px;
}

.option-type:not(.selected) {
  cursor: pointer;
}

.option-type.selected {
  cursor: default;
}

.option-type.selected, .question-control.selected {
  border-color: #453445;
}

.question-control {
  cursor: pointer;
}

.option-type:not(.selected):hover, .question-control:not(.selected):hover {
  border-color: rgb(148, 24, 59);
  border-color: rgba(148, 24, 59, 0.5);
}

.options-controls {
  padding-bottom: 10px;
}

.new-option {
  color: white;
  background-color: #046D70;
  padding: 2px 7px;
}

.new-option .icon-wrapper {
  margin-left: 5px;
}

.answer-delete {
  padding: 9px 10px 0 5px;
  padding-bottom: 3px;
}
